@if $debugMode == 1 {

	img[alt=""],
	img:not([alt]),
	a[title=""],
	a:not([title]),
	a[href=""],
	a:not([href]),
	label[for=""],
	input:not([name]),
	input[name=""],
	input:not([name]),
	textarea:not([name])
	textarea[name=""] {
		outline: 2px dashed red !important;
	}
	
}