$colorBoder: rgb(212, 212, 212);
.asset-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .paths {
        align-self: flex-end;
    }
    button {
        margin-right: 2em;
    }
}
.asset-content {
    // border: 1px solid $colorBoder;
    margin-top: 1em;
    padding: 1em;
}
.asset-tittle {
    display: flex;
    flex-direction: row;
    gap: 1em;
    margin: 1em;
    color: var(--accent);
    p {
        font-weight: bolder;
        font-size: small;
    }
 
}
.asset-body {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 15px;
}
.asset-body-description {
    max-height: 500px; 
    overflow: auto;
}
.asset-body-container {
    flex-grow: 3;
    flex-basis: 1em;
    border-right: 1px solid $colorBoder ;
}

.asset-body-keywords{
    flex-grow: 1;
    flex-basis: 1em;
    margin-bottom: 1em;
}
h1{
    color: var(--primary);
}

h2,h3,h4{
    color: var(--accent);
}

.distribution-title {
    font-weight: bolder;
}

.distribution-container {
    // border: 1px solid red;
    // background-color: red;
    display: flex;
    gap: 1em;
    flex-wrap: wrap;
}

.distribution-card {
    width: 360px;
}