<h1>About MyLibrary</h1>
<hr>
<p>
    MyLibrary is a tool that allows AI researchers to explore some types of AI assets directly in AIoD . MyLibrary is
    developed within the <a href="https://ai4europe.eu/">AI4Europe project</a> as one of the core services of the new
    release of
    the AI4Europe project <a href="https://aiod.eu/">AI on Demand platform</a>.
</p>
<br>
<p> More especifically, <b>MyLibrary</b>:
</p>
<ul>
    <li>Is a web application</li>
    <li>... that enables <b>AI researchers</b></li>
    <li>... to <b>explore AIoD AI assets</b></li>
    <li>... <b>select</b> the <b>most interesting</b> ones</li>
    <li>... and <b>add them to a personal library</b></li>
    <li>... that <b>can will be shared with other AIoD services</b>.</li>
</ul>

<p><b>Important note: </b>MyLibrary is currently in testing mode.</p>
<hr>
<br>
<h3>Explore AI assets available in AIoD</h3>
<br>
<p>
    MyLibrary allows you to browse some types of assets of the AIoD platform, namely:  
</p>

<ul>
    <li>AI models</li>
    <li>Datasets</li>
    <li>Experiments</li>
</ul>

<p>You can filter the assets by the platform or research project they belong to, or search them by keyword, for instance.</p>

<img src="../../../../../assets/images/about/mylibrary-browse.png" width="60%" height="50%">

<hr>
<br>
<h3>
    Get detailed information of each AI asset
</h3>
<br>
<p>Click on any asset to learn more about it. If you like it, add it to the stash.</p>

<img src="../../../../../assets/images/about/detailed-view.png" width="60%" height="50%">
<hr>
<br>
<h3>Add AI assets to your library</h3>
<br>
<p>Once you have added an asset of your interest to the stash, add them to  your personal library of AIoD AI assets. Your library will be shared with other AIoD services <b>[available soon]</b></p>

<img src="../../../../../assets/images/about/add-mylibrary.png" width="60%" height="25%">