$colorBoder: rgb(212, 212, 212);

h2,
h3,
h4 {
    color: var(--accent);
}

.dataset-body {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 15px;
    border-bottom: 1px solid $colorBoder ;
}

.dataset-values {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 160px;
}

.dataset-values h3 {
    margin: 0;
    /* Elimina el margen de los títulos */
}


.dataset-values-column {
    flex-basis: 50%; 
}

.measured-values-style {
    margin-bottom: 1px solid teal ;;
}