<header id="header" class="">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="header-nav">
          <div class="header-nav-logo">
            <div class="open-mobile-menu" (click)="openMobileMenu()">
              <i class="icon-menu"></i>

              <div class="hamburguer d-lg-none d-xl-none">
                <span></span>
              </div>
            </div>
            <a href="{{ externalLinks.AIOD_HOME }}">
              <img
                src="../assets/img/logo-dark.png"
                alt="AIOD logo dark"
                class="logotipo"
              />
              <img
                src="../assets/img/logo-light.png"
                alt="AIOD logo light"
                class="logotipo-grey d-none"
              />
            </a>
            <!--not shown on bigger screens-->
            <a
              href=""
              class="btn btn btn-circle btn-circle--blue btn-search ml-5 mr-0 d-flex d-lg-none d-xl-none d-xs-none"
              ><i class="icon-lupa"></i
            ></a>

            <a
              class="btn btn-success btn-success--white mr-0 d-flex d-lg-none"
              href=""
              >{{ 'TOP-NAVBAR.LOGIN' | translate }}</a
            >
          </div>

          <div class="top-bar-buttons">
            <ul class="main-menu" [ngClass]="mobileOpened ? '' : 'd-none'">
              <li class="menu" *ngFor="let item of menuItems">
                <div
                  class="menu-link-mobile"
                  [ngClass]="{
                    'has-submenu': item.children && item.children.length > 0
                  }"
                >
                  <a
                    class="menu-link"
                    [href]="item.url || '#'"
                    [attr.target]="item.url ? '_blank' : null"
                  >
                    {{ item.title }}
                    <i class="icon-arrow d-block d-lg-none"></i>
                  </a>
                </div>
                <div
                  class="sub-menu d-flex flex-column"
                  *ngIf="item.children && item.children.length > 0"
                  [style.margin-left]="
                    item.children.length > 4 ? '-500px' : '0'
                  "
                >
                  <ul>
                    <li
                      *ngFor="let child of item.children"
                      [ngClass]="{ highlight: child.isHighlighted }"
                    >
                      <a
                        [href]="child.url || '#'"
                        [attr.target]="child.url ? '_blank' : null"
                      >
                        <span>{{ child.title }}</span>
                        <p *ngIf="child.description">{{ child.description }}</p>
                      </a>
                    </li>
                  </ul>
                </div>
              </li>
            </ul>
          </div>

          <div
            *ngIf="!isLoggedIn(); else logged"
            class="d-flex flex-lg-row menu-right"
          >
            <a
              href=""
              class="btn btn btn-circle btn-circle--blue btn-search ml-2 d-lg-none d-xl-none d-xs-none d-lg-flex"
              ><i class="icon-lupa"></i
            ></a>
            <a
              href="{{ externalLinks.GET_STARTED }}"
              class="btn btn-default btn-user d-lg-flex"
              >Get Started</a
            >
            <a
              class="btn btn-success btn-success--white mr-5 d-lg-flex"
              (click)="login()"
              >Log In</a
            >
            <button
              title="Contribute"
              class="btn btn-circle not-rotate ml-2 mr-2 btn-circle--yellow"
              (click)="onClickContribute()"
              [title]="!isLoggedIn() ? 'Log in to contribute' : 'Contribute'"
            >
              <i class="icon-plus"></i>
            </button>
            <ng-container *ngTemplateOutlet="themeSwitch"></ng-container>
          </div>

          <ng-template #logged>
            <div class="d-flex flex-lg-row menu-right">
              <a
                href="{{ externalLinks.MY_LIBRARY }}"
                class="btn btn btn-circle btn-circle--blue btn-search ml-2"
              >
                <i class="icon-lupa"></i>
              </a>
              <a
                href="{{ externalLinks.GET_STARTED }}"
                class="btn btn-default btn-user d-none d-lg-flex"
                >Get Started</a
              >

              <div
                class="user-avatar-button user-avatar d-none d-lg-flex"
                (click)="sideBarUser = !sideBarUser"
              >
                <div class="btn btn btn-circle btn-user ml-0 mr-0">
                  <img src="../assets/img/user-image-default.jpg" alt="" />
                </div>
              
              </div>

              <button
                title="Contribute"
                class="btn btn-circle not-rotate mr-2 btn-circle--blue"
                (click)="onClickContribute()"
                [title]="!isLoggedIn() ? 'Log in to contribute' : 'Contribute'"
              >
                <i class="icon-plus"></i>
              </button>

              <ng-container *ngTemplateOutlet="themeSwitch"></ng-container>
            </div>
          </ng-template>

          <ng-template #themeSwitch>
            <div class="theme-switch-wrapper">
              <label class="theme-switch" for="checkbox">
                <input type="checkbox" id="checkbox" />
                <div (click)="toggleTheme()" class="slider round">
                  <div class="theme-switch-icons">
                    <div>
                      <svg
                        class="light-icon"
                        width="20"
                        height="20"
                        viewBox="0 0 20 20"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <g clip-path="url(#clip0_607_11249)">
                          <path
                            d="M10 14.1666C12.3012 14.1666 14.1667 12.3011 14.1667 9.99992C14.1667 7.69873 12.3012 5.83325 10 5.83325C7.69882 5.83325 5.83334 7.69873 5.83334 9.99992C5.83334 12.3011 7.69882 14.1666 10 14.1666Z"
                            stroke="white"
                            stroke-opacity="0.7"
                            stroke-width="2"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                          ></path>
                          <path
                            d="M10 0.833252V2.49992"
                            stroke="white"
                            stroke-opacity="0.7"
                            stroke-width="2"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                          ></path>
                          <path
                            d="M10 17.5V19.1667"
                            stroke="white"
                            stroke-opacity="0.7"
                            stroke-width="2"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                          ></path>
                          <path
                            d="M3.51666 3.5166L4.7 4.69993"
                            stroke="white"
                            stroke-opacity="0.7"
                            stroke-width="2"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                          ></path>
                          <path
                            d="M15.3 15.3L16.4833 16.4834"
                            stroke="white"
                            stroke-opacity="0.7"
                            stroke-width="2"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                          ></path>
                          <path
                            d="M0.833344 10H2.50001"
                            stroke="white"
                            stroke-opacity="0.7"
                            stroke-width="2"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                          ></path>
                          <path
                            d="M17.5 10H19.1667"
                            stroke="white"
                            stroke-opacity="0.7"
                            stroke-width="2"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                          ></path>
                          <path
                            d="M3.51666 16.4834L4.7 15.3"
                            stroke="white"
                            stroke-opacity="0.7"
                            stroke-width="2"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                          ></path>
                          <path
                            d="M15.3 4.69993L16.4833 3.5166"
                            stroke="white"
                            stroke-opacity="0.7"
                            stroke-width="2"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                          ></path>
                        </g>
                      </svg>
                    </div>

                    <div>
                      <svg
                        class="dark-icon"
                        width="16"
                        height="16"
                        viewBox="1 1 15 16"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <path
                          d="M14 8.52667C13.8951 9.66147 13.4692 10.7429 12.7722 11.6445C12.0751 12.5461 11.1357 13.2305 10.0638 13.6177C8.99194 14.0049 7.83199 14.0787 6.71966 13.8307C5.60734 13.5827 4.58866 13.023 3.78281 12.2172C2.97697 11.4113 2.41729 10.3927 2.16927 9.28033C1.92125 8.16801 1.99514 7.00806 2.3823 5.9362C2.76946 4.86434 3.45388 3.92491 4.35547 3.22784C5.25706 2.53076 6.33853 2.10487 7.47333 2C6.80894 2.89884 6.48923 4.0063 6.57235 5.12094C6.65547 6.23559 7.1359 7.28337 7.92626 8.07373C8.71662 8.86409 9.76441 9.34452 10.8791 9.42765C11.9937 9.51077 13.1012 9.19106 14 8.52667Z"
                          stroke="white"
                          stroke-opacity="0.7"
                          stroke-width="2"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        ></path>
                      </svg>
                    </div>
                  </div>
                </div>
              </label>
            </div>
          </ng-template>
        </div>
      </div>
    </div>
  </div>

  <main *ngIf="isLoggedIn()" [ngClass]="sideBarUser ? 'd-flex' : 'd-none'">
    <div class="sidebar sidebar-user" id="sidebar-user">
      <div class="menu">
        <!--
        <ul>
          <li class="sidebar-link">
            <a href="#">
              <i class="icon-settings"></i>
              <span>Settings</span>
            </a>
          </li>
          <li class="sidebar-link">
            <a href="#">
              <i class="icon-notifications"></i>
              <span>Notifications</span>
            </a>
          </li>
        </ul>
        -->
      </div>
      <div class="sidebar-footer user">
        <div class="border-bottom">
          <a
            class="btn btn-success btn-success--blue mt-3 w-100"
            (click)="logout()"
            >Sign Out</a
          >
        </div>
      </div>
    </div>
  </main>
</header>
