@use "sass:map";

@import "../../styles/variables";

.mat-primary {
  top: 0px;
  bottom: 0px;
  left: 0;
  right: 0;
  overflow: hidden;
  background-color: transparent;
}


::ng-deep {
  .sidenav .mat-drawer-inner-container {
    overflow: hidden !important;
  }

  .mdc-list-item__primary-text {
    // color: aliceblue !important;
    color: black !important;
  }
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.sidenav-item {
  padding: 0 25px;
}

.sidenav-item:hover .mdc-list-item {
  background-color: $color-accent;
  color: $color-default2;
}

.sidenav-link {
  border-radius: 3px;
  color: $color-default;
  font-size: 15px;
  padding: 15px 20px;

  & ::ng-deep .mdc-list-item__content .mdc-list-item__primary-text {
    white-space: break-spaces;
  }
}

.active {
  background-color: $color-accent;
  color: $color-default2;
}

.other-links {
  display: flex;
  align-items: center;
  color: $color-default;
  & .mat-icon {
    transform: scale(0.7);
  }
}

.mat-drawer-content {
  min-height: 100vh;
}

.sidenav-footer {
  position: absolute;
  bottom: 1rem;
}

.dashboard-logo-container {
  display: flex;
  box-sizing: border-box;
  padding: 0 16px;
  width: 100%;
  flex-direction: row;
  align-items: center;
  white-space: nowrap;
  height: 60px;
  margin-left: 0.6rem;

  & img {
    max-width: 200px;
  }
}

.acknowledgments {
  font-size: 0.9rem;
}

.corner-ribbon {
  width: 200px;
  background: #e43;
  position: absolute;
  top: 0px;
  left: -80px;
  text-align: center;
  line-height: 40px;
  letter-spacing: 1px;
  color: #f0f0f0;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  z-index: 1000;
}

.radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
  align-items: flex-start;
}

.radio-button {
  margin: 5px;
}

.filters {
  margin-left: 2em;
}

.buttons-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 20px;
}