<mat-sidenav-container 
  class="mat-primary"
  [ngClass]="isMenuCollapsed ? 'sidebar-collapsed' : 'sidebar-expanded'"
>
  <mat-sidenav
    #sidenav
    [mode]="mobileQuery.matches ? 'over' : 'side'"
    [opened]="!mobileQuery.matches"
    class="sidenav"
    [fixedInViewport]="options.value.fixed"
    [fixedTopGap]="options.value.top"
    [fixedBottomGap]="options.value.bottom"
  >
    <main class="d-flex">
      <div
        class="sidebar scrollable"
        [ngClass]="isMenuCollapsed ? 'collapsed' : ''"
        id="sidebar"
      >
        <div class="sidebar-container">
          <div class="menu">
            <ul>
              <li *ngIf="isLoggedIn()" class="sidebar-link">
                <a href="/Bookmarks">
                  <i class="icon-resources-saved"></i>
                  <span>{{ 'SIDENAV.MY-BOOKMARKS' | translate }}</span>
                </a>
              </li>
              <li
                class="has-submenu"
                [ngClass]="isResourcesOpened ? 'open' : ''"
              >
                <span
                  (click)="isResourcesOpened = !isResourcesOpened"
                  class="d-flex align-items-center justify-content-between sidebar-link"
                >
                  <div><i class="icon-ai"></i> <span>{{ 'SIDENAV.RESOURCES' | translate }}</span></div>
                  <span class="submenu-toggle">
                    <i class="icon-arrow-breadcrumb"></i>
                  </span>
                </span>
                <ul class="submenu" [ngClass]="isResourcesOpened ? 'open' : ''">
                  <li>
                    <a href="">
                      <i class="icon-catalogue"></i>
                      {{'SIDENAV.CATALOGUE' | translate}}
                    </a>
                  </li>
                  <li>
                    <a href="{{ externalLinks.METADATA_CATALOGUE_REST_API }}"
                      ><i class="icon-catalogue"></i>SDKs and APIs</a
                    >
                  </li>
                </ul>
              </li>
            </ul>
          </div>

          <div class="sidebar-footer">
            <div class="menu p-0">
              <ul>
                <li *ngIf="!isLoggedIn() && !isMenuCollapsed" class="sidebar-link">
                  <div class="login-message">{{'SIDENAV.LOGIN-MESSAGE' | translate}}</div>
                  <button class="btn btn-primary login-button" (click)="login(); $event.stopPropagation()">
                      <span>{{'SIDENAV.SIGN-IN' | translate}}</span>
                  </button>
                </li>
              </ul>
            </div>

            <div id="registerDiv" *ngIf="!isLoggedIn()">
              <p>{{ "SIDENAV.DONT-HAVE-ACCOUNT" | translate }}</p>
              <p id="registerLink" (click)="login(); $event.stopPropagation()">
                {{"SIDENAV.REGISTER" | translate }}
              </p>
            </div>

            <div
              (click)="toggleCollapse()"
              id="collapseButton"
            >
              <i class="icon-colapse"></i>
              <span>{{ "SIDENAV.COLLAPSE" | translate }}</span>
            </div>

          
          </div>
        </div>
      </div>
    </main>
  </mat-sidenav>

  <mat-sidenav-content class="pl-3 pr-3 sidenav-content">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
<app-spinner
  [isVisible]="(spinnerService.visibility$ | async) ?? false"
  [message]="(spinnerService.message$ | async) ?? ''"
>
  spinner
</app-spinner>
<a
  class="aiod-feedback-button"
  href="{{ externalLinks.FEEDBACK }}"
  target="_blank"
  rel="noopener noreferrer"
  [attr.aria-label]="'SIDENAV.FEEDBACK' | translate"
>
  <span class="aiod-feedback-text">{{ "SIDENAV.FEEDBACK" | translate }}</span>
</a>
