<h2>{{ 'MY-LIBRARY.TITLE' | translate }}</h2>

<div *ngIf="isLoading" class="spinner">
    <mat-progress-spinner  mode="indeterminate">
    </mat-progress-spinner>
</div>

<table *ngIf="!isLoading" mat-table [dataSource]="dataSource">

    <!-- Name Column -->
    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef style="font-weight: bolder;">
            {{ 'MY-LIBRARY.DISPLAY-COLUMNS.NAME' | translate }}
        </th>
        <td mat-cell *matCellDef="let asset"> 
            <a [routerLink]="['/marketplace', asset.identifier]" [queryParams]="{ category: asset.category }">
                {{asset.name | titlecase }}
            </a>
        </td>
    </ng-container>

    <!-- Category Column -->
    <ng-container matColumnDef="category">
        <th mat-header-cell *matHeaderCellDef style="font-weight: bolder;">
            {{ 'MY-LIBRARY.DISPLAY-COLUMNS.CATEGORY' | translate }}
        </th>
        <td mat-cell *matCellDef="let asset">
            <mat-chip class="chip" [style.background]="getColorCategory(asset.category)">{{ asset.category | lowercase}}
            </mat-chip>
        </td>
    </ng-container>

    <!-- Price Column -->
    <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef style="font-weight: bolder;">
            {{ 'MY-LIBRARY.DISPLAY-COLUMNS.PRICE' | translate }}
        </th>
        <td mat-cell *matCellDef="let asset"> {{asset.price | currency: 'EUR':'symbol'}} </td>
    </ng-container>

    <!-- Link Column -->
    <ng-container matColumnDef="urlMetadata">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let asset">
            <a *ngIf="!!asset.urlMetadata" [href]="asset.urlMetadata" target="_blank">
                <mat-icon matTooltip="{{asset.urlMetadata}}">link</mat-icon>
            </a>
            <mat-icon *ngIf="!asset.urlMetadata" class='disabled-link' matTooltip="No link available">link</mat-icon>
        </td>
    </ng-container>

    <!-- Delete Column -->
    <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let asset">
            <button mat-icon-button class="delete-button" (click)="deleteAssetMyLibrary(asset)">
                <mat-icon>delete</mat-icon>
            </button>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row class="element-row" *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<mat-paginator [pageSizeOptions]="[10, 15, 25, 100]" aria-label="Select page of Library"></mat-paginator>