
@import "src/styles/variables.scss";

table {
  padding-right: 2em;
}
// .mat-mdc-row .mat-mdc-cell {
//   cursor: pointer;
// }
tr.element-row:hover {
  background: whitesmoke;
}

.mat-mdc-table {
  background: transparent;
}

.mat-column-name {
  text-align: start;
  width: 25%;
}

.mat-column-category {
  text-align: start;
  width: 25%;
}

.mat-column-price {
  text-align: start;
  width: 25%;
}
.mat-column-urlMetadata {
  width: 12.5%;
  text-align: end;
}

.mat-column-delete {
  width: 12.5%;
  text-align: center;
}

.disabled-link {
  opacity: 0.5; 
}



.paginator {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 8px;
  /* flex-wrap: wrap-reverse; */
  width: 100%;
  font-size: inherit;
  color: #ffffffb2;
  background: inherit;
  font-family: inherit;
  font-size: inherit;
}


::ng-deep {
    
  
  .mat-mdc-paginator-icon {
    color:$color-primary4;
  }
  .mdc-checkbox__background {
    border-color: $color-primary4 !important;
  }
  .mat-mdc-table .mat-mdc-header-cell {
    color: #ffffff;
    font-family: "Jura", sans-serif !important;

  }
}


