
@import "src/styles/variables.scss";

table {
  padding-right: 2em;
}
// .mat-mdc-row .mat-mdc-cell {
//   cursor: pointer;
// }
tr.element-row:hover {
  background: whitesmoke;
}


.mat-column-name {
  text-align: start;
  width: 25%;
}

.mat-column-category {
  text-align: start;
  width: 25%;
}

.mat-column-price {
  text-align: start;
  width: 25%;
}
.mat-column-urlMetadata {
  width: 12.5%;
  text-align: end;
}

.mat-column-delete {
  width: 12.5%;
  text-align: center;
}

.disabled-link {
  opacity: 0.5; 
}



.paginator {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 8px;
  /* flex-wrap: wrap-reverse; */
  width: 100%;
  font-size: inherit;
  background: inherit;
  font-family: inherit;
  font-size: inherit;
}


[data-theme="dark"] {
  .paginator{
      color: #ffffffb2;
  }

 
}

[data-theme="light"] {

.paginator{
  color: black;
}
}

::ng-deep {
  
  .mat-mdc-table {
    background: transparent;
    font-family: "Jura", sans-serif !important;
  }
  
  .mat-mdc-paginator-icon {
    color:$color-primary4;
  }
  .mdc-checkbox__background {
    border-color: $color-primary4 !important;
  }
  .mat-mdc-table .mat-mdc-header-cell {
    font-family: "Jura", sans-serif !important;

  }

  [data-theme="ligth"] {
    .mat-mdc-table .mat-mdc-header-cell {
      color:black !important;
  }}
  
  [data-theme="dark"] {
    .mat-mdc-table .mat-mdc-header-cell {
      color:black !important;
  }}

}


