<div *ngFor="let item of items">
  <div *ngFor="let col of columns" class="item-info-body">
    <div
      *ngIf="item[col] && item[col] !== 'N/A'"
      class="item-info-container"
      style="padding: 10px; border: 1px solid #ccc"
    >
      <h3>{{ formatColumnName(col) }}</h3>
      <div class="">
        <ng-container [ngSwitch]="getValueType(item[col])">
          <a *ngSwitchCase="'url'" [href]="item[col]" target="_blank" class="">
            {{ item[col] }}
          </a>
          <div *ngSwitchCase="'array'" class="">
            <span *ngFor="let arrayItem of getArrayValues(item[col]); let last = last" class="">
              {{ arrayItem }}<span *ngIf="!last">, </span>
            </span>
          </div>
          <div *ngSwitchCase="'object-array'" class="object-array-container">
            <table class="table table-striped" *ngIf="item[col].length > 0">
              <thead>
                <tr>
                  <th *ngFor="let key of getObjectKeys(item[col])">
                    {{ formatColumnName(key) }}
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let obj of item[col]">
                  <td *ngFor="let key of getObjectKeys(item[col])">
                    <a *ngIf="isObjectValueURL(obj[key])" [href]="obj[key]" target="_blank" class="text-primary">
                      {{ getDisplayValueForObjectTable(key, obj[key]) }}
                    </a>
                    <span *ngIf="!isObjectValueURL(obj[key])">
                      {{ getDisplayValueForObjectTable(key, obj[key]) }}
                    </span>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <markdown *ngSwitchDefault class="">
            {{ item[col] }}
          </markdown>
        </ng-container>
      </div>
    </div>
  </div>
</div>
