<div class="footer-container">
  <div class="footer-bottom">
    <div class="container-fluid">
      <div class="row">
        <div
          class="col-12 d-flex flex-column flex-lg-row align-items-center justify-content-between"
        >
          <p class="footer-bottom-title">{{"FOOTER.RIGHTS" | translate }}</p>
          <ul class="footer-bottom-list flex-wrap">
            <li>
              <a href="{{ externalLinks.PRIVACY_POLICY }}">{{ "FOOTER.PRIVACY-POLICY" | translate }}</a>
              <span>|</span>
            </li>
            <li>
              <a href="{{ externalLinks.RESPONSIBLE_DISCLOSURE }}"
                >{{ "FOOTER.RESPONSIBLE-DISCLOSURE" | translate }}</a
              >
              <span>|</span>
            </li>
            <li></li>
            <li>
              <a href="{{ externalLinks.TERMS_CONDITIONS }}">{{ "FOOTER.TERMS-OF-USE" | translate }}</a>
            </li>
          </ul>
          <a href="{{ externalLinks.LOBA }}"
            ><img src="../assets/img/loba.svg" class="loba-logo" alt=""
          /></a>
        </div>
      </div>
    </div>
  </div>
</div>
