<div class="footer-container">
    <!-- <footer class="footer">
     <div class="footer-top">
       <div class="container-fluid">
         <div class="row">
           <div class="col-12 col-lg-3 d-flex flex-wrap flex-column justify-lg-content-between mb-m-50">
             <a href="" class="d-block">
               <img src="../assets/img/logo.svg" alt="" class="logotipo-branco d-block">
               <img src="../assets/img/logo-cinza.svg" alt="" class="logotipo-cinza d-none">
 
             </a>
             <a class="btn btn-success mt-5" href="https://www.ai4europe.eu/open-calls">For developers</a>
             <a class="btn btn-success btn-success--blue mt-3" href="https://aiod.eu/about">About the project</a>
 
             <div class="flag-container mt-5">
                <img src="../assets/img/flag.svg" class="flag" alt="">
                <img src="../assets/img/flag-black.svg" class="flag-black d-none" alt="">
             </div>
           </div>
           <div class="col-12 col-lg-4 d-flex flex-wrap flex-lg-column justify-content-between align-items-center align-items-lg-start">
             <div class="menu-footer row">
                <div class="col-6">
                   <a class="menu-footer-links" href="">Overview</a>
                </div>
                <div class="col-6">
                   <a class="menu-footer-links" href="https://aiod.eu/services/community">community</a>
                </div>
                <div class="col-6">
                   <a class="menu-footer-links" href="https://aiod.eu/services/virtual-lab">resources</a>
                </div>
                <div class="col-6">
                   <a class="menu-footer-links" href="https://aiod.eu/dashboard">dashboard</a>
                </div>
                <div class="col-6">
                   <a class="menu-footer-links" href="">services</a>
                </div>
             </div>
             <form id="customForm" class="validate-form newsletter-form">
               <p class="newsletter-title footer-title">Subscribe</p>
               <p class="newsletter-subtitle footer-subtitle">Stay current with all things AIoD</p>
               <div class="newsletter-input">
                 <div class="form-group">
                     <input type="email" name="email" placeholder="Email" id="email" class="form-control" required="" data-msg="Por favor, insira um campo de email válido" data-msg-required="Campo obrigatório">
                 </div>
                 <button type="submit" class="btn btn-secondary btn-secondary--yellow">
                     Subscribe <i class="icon-send"></i>
                 </button>
               </div>
             </form>
           
           </div>
           
             <div class="col-12 offset-lg-1 col-lg-4 d-lg-flex flex-lg-column justify-content-lg-between">
                <div class="contact-us">
                   <p class="footer-title">Follow us</p>
                   <div class="footer-top-social mb-m-50">
                      <a href="https://twitter.com/AIonDemand">
                         <i class="icon-twitter"></i>
                      </a>
                      <a href="https://www.linkedin.com/company/aiondemand/">
                         <i class="icon-linkedin"></i>
                      </a>
                      <a href="https://www.youtube.com/@AIonDemand">
                         <i class="icon-youtube"></i>
                      </a>
                   </div>
                </div>
                <div class="integrate">
                   <p class="footer-title">Integrate with the aiod</p>
                   <p class="footer-subtitle"></p>
                </div>
                <a class="btn-link" href="https://www.ai4europe.eu/integrate">Don´t see your product? Click here</a>
             </div>
          
 
         </div>
       </div>
     </div>
    
   </footer> -->
   <div class="footer-bottom">
       <div class="container-fluid">
         <div class="row">
          <div class="col-12 d-flex flex-column flex-lg-row align-items-center justify-content-between">
             <p class="footer-bottom-title">©2023 All Rights Reserved AIoD</p>
             <ul class="footer-bottom-list flex-wrap">
               <li>
                 <a href="https://aiod.eu/privacy-policy">Privacy Policy</a>
                 <span>|</span>
               </li>
               <li>
                 <a href="https://aiod.eu/responsible-disclosure">Responsible Disclosure</a>
                 <span>|</span>
               </li><li>
               </li><li>
                 <a href="https://aiod.eu/terms-conditions">Terms of use</a>
               </li>
             </ul>
             <a href="https://www.loba.com/en"><img src="../assets/img/loba.svg" class="loba-logo" alt=""></a>
           </div>
         </div>
       </div>
     </div>
  </div>