.asset-cards-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1rem;
}

.marketplace-toolbar {
    justify-content: space-between;
}

.paginator{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 8px;
    /* flex-wrap: wrap-reverse; */
    width: 100%;
    font-size: inherit;
    color: #FFFFFFB2;
    background: inherit;
    font-family: inherit;
    font-size: inherit;
}
   

::ng-deep {
     .mat-mdc-select-value-text {
        color: #FFFFFFB2;     /* Add your styles here */
    }
    .mat-mdc-paginator-icon {
        color: #FFED00;
        
    }
}