<mat-toolbar class="mb-3 marketplace-toolbar">
    <span>Assets Catalogue <mat-icon>library_books</mat-icon></span>
</mat-toolbar>

<div *ngIf="isLoading; else assetList" class="spinner">
    <mat-progress-spinner color="primary" mode="indeterminate">
    </mat-progress-spinner>
</div>
<mat-paginator (page)="handlePageEvent($event)" [length]="assetsSize" [pageSizeOptions]="pageSizeOptions" aria-label="Select page" [disabled]="isPaginationDisabled()">
</mat-paginator>

<ng-template #assetList>
    <div class="asset-cards-container">
        <div
            fxFlex
            *ngFor="
                let asset of assets 
            "
            class="m-2"
        >
            <app-asset-card [asset]="asset"></app-asset-card>
        </div>
    </div>
</ng-template>

<!-- | search: this.searchFormGroup.get('search')?.value as AssetModel -->
