<div class="cart-container">
    <h2>Shopping Cart</h2>
    <div class="table-container">
        <div *ngIf="cartItems.length === 0">
            <p>No items in the cart</p>
        </div>
        <table *ngIf="cartItems.length > 0">
            <thead>
                <tr>
                    <th>Item</th>
                    <th>Category</th>
                    <th>Platform</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of cartItems">
                    <!-- http://localhost:8080/marketplace/47?category=Dataset -->
                    <td>
                        <a [routerLink]="['/marketplace', item.identifier]" [queryParams]="{ category: item.category }">
                            {{ item.name }}
                        </a>
                    </td>
                    <td>{{ item.category }}</td>
                    <td>{{ item.platform }}</td>
                    <td>
                        <button mat-icon-button class="delete-button"
                            (click)="deleteCartItem(item.identifier, item.category)">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="pay-container">
        <p>Total cost: 0</p>
        <button mat-raised-button [disabled]="!isEnabledPay()" (click)="payment()" color="accent">Pay</button>
    </div>

</div>